#wrapper{
	margin:0px;
	background-color:black;
	width:100%;
	height:auto;
	float:left;
}
#bar{
	position:fixed;
	background-color:#990000;
	background-image:linear-gradient(to bottom right,#990000,#a69150,#dbd1b4);
	width:100%;
	height:auto;
	float:left;
}
#about{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#events{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#gallery{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#home{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#title{
	font-size:3vw;
	height:auto;
	font-style:italic;
	font-family:monospace;
}
video {
	width: 100%;
	height: auto;
}
#vlog{
	font-size:1vw;
	max-width:80%;
	height:auto;
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
	float:left;
}
#story{
	font-size:1vw;
	color:white;
	max-width:100%;
	height:20%;
	float:left;
	font-family:Georgia,serif;
}
#cells{
	float:right;
	max-width:100%;
}
#thought{
	font-size:2vw;
}
#include{
	color:white;
	font-size:80%;
}
#band{
	font-size:2vw;
}
#chle{
	float:left;
}
#instrument{
	font-size:1.5vw;
}
#dheis{
	float:right;
}
#name{
	font-size:1.5vw;
}
.footer{
	width:80%;
	height:auto;
	margin-left:5%;
	margin-right:0%;
	float:left;
	color:black;
}
#floor{
	color:white;
	max-width:100%;
	height:10%;
	float:top;
	font-size:2.5vw;
	font-style:italic;
	font-family:Georgia,serif;
}
a{
	float:left;
	position:relative;
	width:15%;
}
a img{
	display:block;
	width:100%;
	height:auto;
}
a span{
	display:none;
	position:absolute;
	top:50;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,6);
	color:#ddd;
	padding:20px;
}
a:hover span{
	display:block;
	width:100%;
}
.big{
	width:100%;
}
h2{
	color:red;
}
@media screen and (max-width:700px){
	#bar,
	#vlog{
		float:none;
		width:100%;
	}
}
@media screen and (max-width:430px){
	nav li,
	nav a{
		display:block;
	}
}