p#cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
  color:white;
}
#cf7 {
  position:relative;
  height:303px;
  width:490px;
  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  max-width:100%;
}
#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
img{
	max-width:100%;
}
.small{
	max-width:100%
}
#wrapper{
	margin:0px;
	background-color:#10170f;
	max-width:100%;
	height:auto;
	float:left;
}
#bar{
	position:fixed;
	background-color:#990000;
	background-image:linear-gradient(to bottom right,#990000,#a69150,#dbd1b4);
	width:100%;
	height:auto;
	float:left;
}
#about{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#events{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#gallery{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#home{
	padding:.3%;
	float:right;
	font-size:3vw;
	font-family:Georgia,serif;
}
#title{
	font-size:3vw;
	height:auto;
	font-style:italic;
	font-family:monospace;
}
#aus{
	width:80%;
	height:auto;
	margin-left:5%;
	margin-right:10%;
	margin-top:5%;
	float:left;
}
#band{
	float:right;
}
.footer{
	max-width:80%;
	height:auto;
	margin-left:5%;
	margin-right:0%;
	float:left;
	color:black;
}
#floor{
	color:white;
	max-width:100%;
	height:10%;
	float:top;
	font-size:2.5vw;
	font-style:italic;
	font-family:Georgia,serif;
}
a{
	float:left;
	position:relative;
	max-width:15%;
}
a img{
	display:block;
	max-width:100%;
	height:auto;
}
a span{
	display:none;
	position:absolute;
	top:50;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,6);
	color:#ddd;
	padding:20px;
}
a:hover span{
	display:block;
	max-width:100%;
}
@media screen and (max-width:700px){
	#bar,
	#aus{
		float:none;
		width:100%;
	}
}
@media screen and (max-width:430px){
	nav li,
	nav a{
		display:block;
	}
}